APP_NAME="C+CLub"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_LOCALE=ru
APP_FALLBACK_LOCALE=en
LOG_CHANNEL=stderr
LOG_LEVEL=info
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=cclub
DB_USERNAME=cclub
DB_PASSWORD=
SESSION_DRIVER=redis
SESSION_SECURE_COOKIE=false
SESSION_LIFETIME=120
CACHE_STORE=redis
QUEUE_CONNECTION=redis
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PORT=6379
MAIL_MAILER=log
TELEGRAM_TRANSPORT=fake
